body {
  font-family: 'Segoe UI';
  background-color: #14022c;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner-badge_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .banner-badge_content {
    display: block;
  }
}

.banner-badge {
  background-color: #4a3d66;
  padding: 14px 0;
}

.banner-badge p {
  color: #F3F3F3;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  .banner-badge p {
    font-size: 16px;
  }
}

.banner-badge a {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .banner-badge a {
    font-size: 16px;
  }
}

.banner-badge a:hover {
  color: #14022C;
}

.banner-badge a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #f3f3f3;
}

.banner-badge .pmpy-text {
  margin-bottom: 0;
}

.banner-badge .presale-style {
  margin-bottom: 0;
  margin-left: 16px;
}

@media (max-width: 575.98px) {
  .banner-badge .presale-style {
    font-size: 16px;
    margin-left: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .banner-badge .pmpy-buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px;
  }
}

.banner-badge .pmpy-buy svg {
  margin-left: 16px;
}

.first-section {
  padding: 30px 0;
}

.first-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .first-section-content .header-logo svg {
    width: 80%;
  }
}

.button-primary {
  -webkit-clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
          clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
  padding: 0.5px;
  background-color: #fff;
}

.button-primary a {
  font-family: 'Neofolia';
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
          clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
  background-color: #181c47;
  padding: 12px 40px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 575.98px) {
  .button-primary a {
    padding: 6px 20px;
    font-size: 16px;
  }
}

.button-primary a:hover {
  opacity: .6;
}

.button-secondary {
  padding: 1px;
  border: 0;
  background: transparent;
  background: #52F5FF;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
          clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
  color: white;
  z-index: 1;
}

.button-secondary a {
  font-family: 'Neofolia';
  text-decoration: none;
  font-size: 20px;
  background: linear-gradient(174deg, #245780 8.49%, black 162.23%);
  z-index: 2;
  height: 100%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
          clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%, 15% 0);
  padding: 12px 40px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 575.98px) {
  .button-secondary a {
    padding: 6px 20px;
    font-size: 16px;
  }
}

.button-secondary a:hover {
  opacity: .6;
}

.image-banner {
  position: absolute;
  right: 0;
  width: 100%;
  top: 20px;
  z-index: -99;
}

@media (max-width: 991.98px) {
  .image-banner {
    top: 90px;
  }
}

@media (max-width: 767.98px) {
  .image-banner {
    display: none;
  }
}

.blob-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.blob-banner svg {
  width: 100%;
}

@media (max-width: 767.98px) {
  .blob-banner {
    display: none;
  }
}

.blockchains-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockchain {
  color: #f3f3f3;
}

.blockchain .blockchain-btn {
  margin-right: 40px;
}

@media (max-width: 767.98px) {
  .blockchain .blockchain-btn {
    margin-right: 20px;
  }
}

.blockchain h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 140%;
}

@media (max-width: 767.98px) {
  .blockchain h2 {
    font-size: 36px;
  }
}

@media (max-width: 575.98px) {
  .blockchain h2 {
    font-size: 30px;
  }
}

.blockchain p {
  font-size: 20px;
  font-weight: 400;
  line-height: 177%;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 767.98px) {
  .blockchain p {
    font-size: 18px;
    padding-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .blockchain p {
    font-size: 16px;
  }
}

.blockchain--right-content {
  z-index: 999;
  padding-top: 60px;
  padding-bottom: 60px;
}

.blockchain_image {
  display: none;
}

@media (max-width: 767.98px) {
  .blockchain_image {
    display: block;
    width: 100%;
  }
}

.vision {
  padding: 120px 0px;
}

.vision-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 800px;
  width: 100%;
}

.vision-content {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .vision-content {
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .vision-content {
    width: 100%;
  }
}

.vision-content h2 {
  color: #f3f3f3;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .vision-content h2 {
    font-size: 28px;
  }
}

@media (max-width: 575.98px) {
  .vision-content h2 {
    font-size: 22px;
  }
}

.vision-content h1 {
  font-family: Neofolia;
  padding-top: 12px;
  padding-bottom: 40px;
  text-shadow: 0px 0px 13.750578880310059px #b1f6ff;
  font-size: 48px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 767.98px) {
  .vision-content h1 {
    font-size: 46px;
  }
}

@media (max-width: 575.98px) {
  .vision-content h1 {
    font-size: 38px;
  }
}

.prodigy-layer {
  position: relative;
}

.prodigy-layer .prodigy-layer-bg-image {
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 767.98px) {
  .prodigy-layer .prodigy-layer-bg-image {
    display: none;
  }
}

.prodigy-layer .prodigy-layer-bg-image-mobile {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 767.98px) {
  .prodigy-layer .prodigy-layer-bg-image-mobile {
    display: block;
  }
}

.prodigy-layer h1 {
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 80px;
}

@media (max-width: 767.98px) {
  .prodigy-layer h1 {
    font-size: 30px;
    padding-bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  .prodigy-layer h1 {
    font-size: 26px;
    padding-bottom: 40px;
  }
}

.prodigy-layer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .prodigy-layer__image {
    font-size: 30px;
  }
}

.prodigy-layer__image img {
  width: 60px;
  height: 60px;
  margin-right: 24px;
}

.prodigy-layer__content--title {
  color: #f3f3f3;
  text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
  font-size: 34px;
  font-weight: 400;
  padding-bottom: 24px;
  margin: 0;
}

@media (max-width: 767.98px) {
  .prodigy-layer__content--title {
    font-size: 34px;
  }
}

@media (max-width: 575.98px) {
  .prodigy-layer__content--title {
    font-size: 30px;
  }
}

.prodigy-layer__content--description {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  width: 70%;
}

@media (max-width: 767.98px) {
  .prodigy-layer__content--description {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .prodigy-layer__content--description {
    font-size: 16px;
  }
}

.tools-icon-left {
  position: absolute;
  left: 30px;
}

@media (max-width: 767.98px) {
  .tools-icon-left {
    top: 0;
  }
}

@media (max-width: 575.98px) {
  .tools-icon-left {
    top: -100px;
  }
}

.tools-icon-left svg {
  width: 100%;
}

.tools-icon-right {
  position: absolute;
  right: 0;
  top: -300px;
  z-index: -999;
}

@media (max-width: 767.98px) {
  .tools-icon-right {
    top: -100px;
  }
}

@media (max-width: 575.98px) {
  .tools-icon-right {
    top: -100px;
  }
}

.tools-icon-right svg {
  width: 100%;
}

.prometheum_tools {
  position: relative;
  padding: 160px 0;
}

@media (max-width: 991.98px) {
  .prometheum_tools-left-content {
    padding-bottom: 60px;
  }
}

.prometheum_tools h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  padding-bottom: 70px;
}

@media (max-width: 575.98px) {
  .prometheum_tools h1 {
    font-size: 26px;
    padding-bottom: 40px;
  }
}

.prometheum_tools h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  padding: 16px 0;
}

@media (max-width: 575.98px) {
  .prometheum_tools h2 {
    font-size: 20px;
  }
}

.prometheum_tools__paragraph {
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
  margin: 16px 0;
  margin: 0;
}

@media (max-width: 575.98px) {
  .prometheum_tools__paragraph {
    font-size: 16px;
    line-height: 30px;
  }
}

.prometheum_tools__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.prometheum_tools a {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #9bdafb;
  text-decoration: none;
  position: relative;
}

.prometheum_tools a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background-color: #9bdafb;
}

.prometheum_tools__content {
  padding-bottom: 60px;
}

.generation-icon {
  position: absolute;
  left: 0px;
  top: -300px;
  z-index: -999;
}

@media (max-width: 767.98px) {
  .generation-icon {
    top: -100px;
  }
}

@media (max-width: 575.98px) {
  .generation-icon {
    top: -100px;
  }
}

.generation-icon svg {
  width: 100%;
}

.next_generation {
  color: #f3f3f3;
  position: relative;
}

.next_generation h2 {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 40px;
  padding-top: 32px;
}

@media (max-width: 767.98px) {
  .next_generation h2 {
    font-size: 34px;
  }
}

@media (max-width: 575.98px) {
  .next_generation h2 {
    font-size: 32px;
  }
}

.next_generation p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 60px;
}

@media (max-width: 767.98px) {
  .next_generation p {
    font-size: 18px;
    padding-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .next_generation p {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .next_generation--left-content {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
}

.investments {
  padding: 120px 0;
}

.investments h1 {
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 60px;
}

.prometheum_services {
  position: relative;
}

.prometheum_services .prometheum-bg-image {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  position: absolute;
  top: 350px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .prometheum_services .prometheum-bg-image {
    display: none;
  }
}

.prometheum_services .prometheum-bg-image-mobile {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 767.98px) {
  .prometheum_services .prometheum-bg-image-mobile {
    display: block;
  }
}

.prometheum_services .services__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prometheum_services .services__content--first {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .prometheum_services .services__content--first {
    padding-bottom: 60px;
  }
}

.prometheum_services .services__content--subtitle {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  background: linear-gradient(55deg, #07a0de -4.86%, #9bdafb 105.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

@media (max-width: 767.98px) {
  .prometheum_services .services__content--subtitle {
    font-size: 12px;
  }
}

.prometheum_services .services__content--title {
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .prometheum_services .services__content--title {
    font-size: 26px;
  }
}

.prometheum_services .services__content--description {
  padding-top: 60px;
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .prometheum_services .services__content--description {
    font-size: 16px;
    padding-top: 24px;
  }
}

@media (max-width: 767.98px) {
  .prometheum_services .services__image-second {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

.prodigynomics_btn {
  width: 413px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 24px auto;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 575.98px) {
  .prodigynomics_btn {
    width: 100%;
  }
}

.prodigynomics_btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F3F3F3;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.prodigynomics_txt {
  color: #F3F3F3;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.prodigynomics {
  padding: 120px 0;
  color: #F3F3F3;
  position: relative;
}

.prodigynomics h1 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 80px;
}

@media (max-width: 991.98px) {
  .prodigynomics h1 {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .prodigynomics h1 {
    font-size: 26px;
    padding-bottom: 50px;
  }
}

.prodigynomics h3 {
  text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
  font-size: 34px;
  font-weight: 400;
  padding-bottom: 30px;
  font-family: Neofolia;
}

@media (max-width: 575.98px) {
  .prodigynomics h3 {
    font-size: 30px;
  }
}

.prodigynomics h4 {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .prodigynomics h4 {
    font-size: 20px;
  }
}

.prodigynomics p {
  font-size: 20px;
  font-weight: 400;
}

.prodigynomics_all_content {
  height: 100%;
  padding: 30px 5px 30px 30px;
  border-radius: 16px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 575.98px) {
  .prodigynomics_all_content {
    padding: 20px 5px 20px 20px;
  }
}

.prodigynomics_all_content .tax_content svg {
  margin-top: 6px;
  margin-right: 10px;
}

.prodigynomics_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prodigynomics_content img {
  width: 60px;
  height: 60px;
}

.prodigynomics_content h4 {
  padding-left: 16px;
}

@media (max-width: 991.98px) {
  .prodigynomics_tax {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  .prodigynomics_tax {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.prodigy_ai_robotic_image_desktop, .investments_image_desktop {
  width: 100%;
  margin: auto;
}

@media (max-width: 575.98px) {
  .prodigy_ai_robotic_image_desktop, .investments_image_desktop {
    display: none;
  }
}

.prodigy_ai_robotic_image_mobile, .investments_image_mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .prodigy_ai_robotic_image_mobile, .investments_image_mobile {
    width: 100%;
    margin: auto;
    display: block;
  }
}

.journeys-points-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.journeys-points-text p {
  padding-left: 10px;
}

@media (max-width: 575.98px) {
  .journeys-points-text {
    padding-bottom: 10px;
  }
}

.jouneys-blob-left, .prodigynomics-blob-left {
  position: absolute;
  left: 0px;
  z-index: -9999;
}

.jouneys-blob-left svg, .prodigynomics-blob-left svg {
  width: 100%;
}

.jouneys-blob-right, .prodigynomics-blob-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -999;
}

.jouneys-blob-right svg, .prodigynomics-blob-right svg {
  width: 100%;
}

.journeys {
  position: relative;
  color: #F3F3F3;
}

.journeys .journeys-title {
  padding-bottom: 80px;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .journeys .journeys-title {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .journeys .journeys-title {
    font-size: 26px;
    padding-bottom: 50px;
  }
}

.journeys .journeys__content--first h1 {
  padding-bottom: 80px;
  margin: 0;
}

.journeys .journeys__content--first .journeys-border-right {
  position: relative;
}

.journeys .journeys__content--first .journeys-border-right::after {
  content: "";
  position: absolute;
  right: -1px;
  height: 100%;
  width: 1px;
  background-color: #9bdafb;
}

@media (max-width: 767.98px) {
  .journeys .journeys__content--first .journeys-border-right::after {
    display: none;
  }
}

.journeys .journeys__content--first .journeys-border-right::before {
  content: "";
  position: absolute;
  right: -10px;
  border-radius: 50%;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: #9bdafb;
  background: linear-gradient(55deg, #07A0DE -4.86%, #9BDAFB 105.07%);
}

@media (max-width: 767.98px) {
  .journeys .journeys__content--first .journeys-border-right::before {
    display: none;
  }
}

.journeys .journeys__content--first .journeys-border-left {
  position: relative;
}

.journeys .journeys__content--first .journeys-border-left::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 1px;
  height: -webkit-fill-available;
  background-color: #9bdafb;
}

@media (max-width: 767.98px) {
  .journeys .journeys__content--first .journeys-border-left::after {
    display: none;
  }
}

.journeys .journeys__content--first .journeys__content {
  margin: 0 40px;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@media (max-width: 991.98px) {
  .journeys .journeys__content--first .journeys__content {
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  .journeys .journeys__content--first .journeys__content {
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .journeys .journeys__content--first .journeys__content {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
}

.journeys .journeys__content--first .journeys__content--title {
  text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
  font-size: 34px;
  font-weight: 400;
  padding-bottom: 24px;
  margin: 0;
  font-family: Neofolia;
}

@media (max-width: 991.98px) {
  .journeys .journeys__content--first .journeys__content--title {
    font-size: 28px;
  }
}

.journeys .journeys__content--first .journeys__content--description {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 24px;
}

@media (max-width: 991.98px) {
  .journeys .journeys__content--first .journeys__content--description {
    font-size: 18px;
  }
}

.journeys .journeys__content--first .journeys__content .journeys-points p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
}

@media (max-width: 991.98px) {
  .journeys .journeys__content--first .journeys__content .journeys-points p {
    font-size: 16px;
  }
}

.journeys .journeys__content--first .journeys__content .journeys-points p:last-child {
  padding-bottom: 0;
}

.decentralized {
  padding: 100px 0;
}

@media (max-width: 767.98px) {
  .decentralized {
    padding: 60px 0;
  }
}

.decentralized h1 {
  padding-bottom: 80px;
  color: #F3F3F3;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .decentralized h1 {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .decentralized h1 {
    font-size: 26px;
    padding-bottom: 50px;
  }
}

.decentralized_image img {
  width: 164px;
  height: 62px;
}

.prometheum_functions h1 {
  color: #F3F3F3;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 60px;
}

.prometheum_functions h2 {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 30px;
  margin: 0;
  font-family: Neofolia;
}

.prometheum_functions h3 {
  color: #F3F3F3;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

.prometheum_functions .prometheum_functions--description {
  color: #F3F3F3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media (max-width: 767.98px) {
  .prometheum_functions .prometheum_functions_content {
    padding-bottom: 50px;
  }
}

.prometheum_functions .prometheum_functions_content:nth-child(1) h2 {
  color: #6DC150;
}

.prometheum_functions .prometheum_functions_content:nth-child(2) h2 {
  color: #07A0DE;
}

.prometheum_functions .prometheum_functions_content:nth-child(3) h2 {
  color: #8850C1;
}

.prodigynomics_all_content .wrapper {
  position: relative;
  z-index: 2;
}

.prodigynomics_all_content {
  position: relative;
}

.prodigynomics_all_content .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b2248;
  border-radius: 20px;
}

.prodigynomics_all_content .gradient-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(1.01) scaleX(1.02);
          transform: scaleY(1.01) scaleX(1.02);
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#84C4E8), color-stop(19.04%, #44678D), color-stop(30.69%, rgba(255, 255, 255, 0)), color-stop(70.52%, rgba(255, 255, 255, 0)), to(#209BD2));
  background: linear-gradient(90deg, #84C4E8 0%, #44678D 19.04%, rgba(255, 255, 255, 0) 30.69%, rgba(255, 255, 255, 0) 70.52%, #209BD2 100%);
}

.journeys .journeys__content .wrapper {
  position: relative;
  z-index: 2;
}

.journeys .journeys__content .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b2248;
  border-radius: 20px;
}

.journeys .journeys__content .gradient-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(1.01) scaleX(1.02);
          transform: scaleY(1.01) scaleX(1.02);
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#84C4E8), color-stop(19.04%, #44678D), color-stop(30.69%, rgba(255, 255, 255, 0)), color-stop(70.52%, rgba(255, 255, 255, 0)), to(#209BD2));
  background: linear-gradient(90deg, #84C4E8 0%, #44678D 19.04%, rgba(255, 255, 255, 0) 30.69%, rgba(255, 255, 255, 0) 70.52%, #209BD2 100%);
}

.journeys .journeys__content--first .journeys__content {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.prodigy_flip {
  color: #f3f3f3;
}

.prodigy_flip h2 {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 60px;
}

@media (max-width: 767.98px) {
  .prodigy_flip h2 {
    font-size: 36px;
    padding-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .prodigy_flip h2 {
    font-size: 30px;
  }
}

.prodigy_flip p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 60px;
}

@media (max-width: 767.98px) {
  .prodigy_flip p {
    font-size: 18px;
    padding-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .prodigy_flip p {
    font-size: 16px;
  }
}

.prodigy_flip a {
  margin-right: 16px;
  text-decoration: none;
}

.prodigy_flip_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prodigy-flip-numbers {
  padding: 120px 0;
}

@media (max-width: 575.98px) {
  .prodigy-flip-numbers {
    text-align: center;
  }
}

.prodigy-flip-numbers h4 {
  color: #B2E9FF;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 16px;
  margin: 0;
  font-family: Neofolia;
}

@media (max-width: 991.98px) {
  .prodigy-flip-numbers h4 {
    font-size: 45px;
  }
}

@media (max-width: 676.98px) {
  .prodigy-flip-numbers h4 {
    font-size: 55px;
  }
}

@media (max-width: 575.98px) {
  .prodigy-flip-numbers h4 {
    font-size: 65px;
  }
}

.prodigy-flip-numbers p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 991.98px) {
  .prodigy-flip-numbers p {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .prodigy-all_time {
    padding-bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  .prodigy-all_time {
    padding-top: 60px;
  }
}

@media (max-width: 767.98px) {
  .prodigy-integrations {
    padding-bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  .prodigy-integrations {
    padding-bottom: 60px;
  }
}

.defi-apps {
  padding-bottom: 120px;
  color: #F3F3F3;
}

.defi-apps h2 {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .defi-apps h2 {
    font-size: 26px;
  }
}

.defi-apps p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;
}

@media (max-width: 575.98px) {
  .defi-apps p {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .defi-apps_right-content {
    padding-bottom: 60px;
  }
}

.blob-prodigy-flip {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: -999;
}

.blob-prodigy-flip svg {
  width: 100%;
}

.blob-prodigy-flip-container {
  position: relative;
}

.prodigynomics-bg-image {
  position: absolute;
  right: 0;
  z-index: -999;
}

.prodigynomics-bg-image svg {
  width: 100%;
  z-index: -9999;
}

.footer {
  background-color: #14022C;
  padding: 60px 0;
}

@media (max-width: 767.98px) {
  .footer {
    padding: 20px 0;
  }
}

.footer__logo_social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 575.98px) {
  .footer__logo svg {
    width: 100%;
  }
}

.footer-bottom {
  padding-top: 30px;
}

.footer__text {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 991.98px) {
  .footer__text {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

.footer__text li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .footer__text li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__text li p {
  margin: 0;
}

@media (max-width: 991.98px) {
  .footer__text li p {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .footer__text li p {
    font-size: 12px;
  }
}

.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  .footer__menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__menu ul li {
  padding-left: 60px;
}

@media (max-width: 991.98px) {
  .footer__menu ul li {
    padding-left: 24px;
  }
}

@media (max-width: 991.98px) {
  .footer__menu ul li {
    padding-left: 16px;
  }
}

.footer__menu ul li a {
  color: #F3F3F3;
  font-size: 20px;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 991.98px) {
  .footer__menu ul li a {
    font-size: 18px;
  }
}

.footer_social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767.98px) {
  .footer_social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
  }
}

.footer_social-media li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_social-media li a {
  margin-right: 10px;
}

.prodigies {
  position: relative;
  color: #000000;
}

.prodigies .img1 svg, .prodigies .img2 svg, .prodigies .img3 svg, .prodigies .img4 svg {
  width: 100%;
	z-index: -999;
}

.prodigies .img1 {
  position: absolute;
  left: 0;
  top: -400px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.prodigies .img2 {
  position: absolute;
  right: 0;
  top: -100px;
}

.prodigies .img3 {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 0;
}

.prodigies .img4 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.prodigies_content {
	position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 999;
  font-size: 18px;
}

@media (max-width: 575.98px) {
  .prodigies_content {
    font-size: 16px;
  }
}

.prodigies {
  padding: 100px 0;
  background-color: #fff;
}

@media (max-width: 991.98px) {
  .prodigies {
    padding: 60px 0;
  }
}

.nft-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.nft-header nav {
  padding-left: 10px;
}

.nft-header nav ul {
  list-style: none;
  margin: 0;
}

.nft-header nav ul li a {
  color: #F3F3F3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 24px;
}

.nft-header nav ul li a:last-child {
  margin-top: 5px;
}

.bg-image-nft {
  z-index: -999;
  position: absolute;
  width: 80%;
  height: auto;
  right: 0;
}

.blob-nft-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
}

.nft-second-section {
  z-index: 9;
  padding-top: 80px;
  padding-bottom: 200px;
}

.nft-second-section .search-input {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  color: #FFF !important;
}

.nft-second-section .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-second-section .search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-second-section .search-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-second-section .search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-second-section .search-input:focus {
  outline: none;
}

.nft-second-section .search-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 12px 7px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 29px;
  background: #8850C1;
  border: none;
  color: #fff;
}

.nft-second-section .connect-wallet {
  margin-top: 40px;
  padding: 24px 16px 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

.nft-second-section .connect-wallet .swap-buy-slippage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}

.nft-second-section .connect-wallet .swap-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nft-second-section .connect-wallet .slippage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 8px 4px 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 29px;
  background: #8850C1;
}

.nft-second-section .connect-wallet .slippage p {
  margin: 0;
  margin-right: 4px;
}

.nft-second-section .connect-wallet a {
  color: #F3F3F3;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin-right: 16px;
}

.nft-second-section .connect-wallet a:first-child {
  font-weight: bold;
}

.nft-second-section .connect-wallet button {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 40px;
  color: #FFF;
  margin-top: 24px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nft-second-section .connect-wallet button:hover {
  background: #14022C;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.nft-second-section .connect-wallet .you-pay {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.nft-second-section .connect-wallet .you-pay .you-pay-content p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-second-section .connect-wallet .you-pay .you-pay-content span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nft-second-section .connect-wallet .you-recive {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-second-section .connect-wallet .you-recive .you-recive-content p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-second-section .connect-wallet .you-recive .you-recive-content span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nft-second-section .nft-form {
  width: 50%;
  margin: auto;
}

.nft-second-section .ntf-select {
  border-radius: 29px;
  background: #E9E2F3;
  padding: 4px 4px 4px 12px;
  color: #646464;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

.you-pay #choices {
  width: 90px;
  font-weight: 700;
  background-position: 5px 4px;
  padding: 4px 4px 4px 30px;
  background-repeat: no-repeat;
  background-image: url("");
}

.you-pay #choices:focus {
  outline: none;
}

.nft-second-section .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nft-second-section .search .search-button {
  position: absolute;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(180px, -50%);
          transform: translate(180px, -50%);
}

.nft-second-section .ntf-select-wrapper #choices {
  border: 0 !important;
  background-color: transparent !important;
  position: absolute;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(80px, -50%);
          transform: translate(80px, -50%);
  width: 55px;
  height: 40PX;
  font-weight: 700;
  background-position: 5px 4px;
  padding: 4px 4px 4px 0px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-image: url("");
}

.nft-second-section .ntf-select-wrapper #choices:focus {
  outline: none;
}

.nft-second-section .connect-wallet .you-pay {
  margin-bottom: 10px !important;
}

.nft-second-section .connect-wallet .you-pay {
  position: relative;
}

.nft-second-section .connect-wallet .you-pay::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -35px;
  border-radius: 50%;
  border: 10px solid #2c2349;
  background-color: #fff;
  content: '';
  width: 60px;
  height: 60px;
  background-size: 20px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("");
}

.nft-second-section .search-input {
  position: relative;
}

.nft-second-section .search-input::before {
  left: 0;
  bottom: 0;
  content: '';
  width: 60px;
  height: 60px;
  background-size: 20px;
  position: absolute;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("");
}

@media (max-width: 991px) {
  .nft-second-section .nft-form {
    width: 100% !important;
  }
  .nft-second-section .search {
    display: -ms-grid;
    display: grid;
    gap: 30px;
  }
  .nft-second-section .search .ntf-select-wrapper #choices {
    -webkit-transform: translate(0);
            transform: translate(0);
    position: relative;
  }
  .nft-second-section .search .search-button {
    position: relative;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .search-input {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .connect-mobile-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */